body {
  background-color: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
}
.App { text-align: center; padding: 1rem; width: 100%;  margin: 0 auto;
  max-width: 1400px;}
.content { max-width: 1200px; margin: 0 auto; }
.p-datatable .p-checkbox-box { border-radius: 6px !important; }
.p-button.p-disabled {
    font-weight: normal !important;
}
